@model Gusto.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <div class="container">
        <h1 class="TexteWhite">Gusto Recette</h1>
        <h6 class="TexteWhite">Recettes de cuisine faciles et Delicieuses</h6>
        @using (Html.BeginForm("CatSearch", "Home", FormMethod.Post))
        {
        <div class="row" style="margin-top:50px;">
           
            <div class="col-3">
                <div class="form-group">
                    <select class="form-control" id="Categorie" name="Categorie" value="Choisire une catgerie">
                        @foreach (var p in Model.ListCategorie)
                        {
                            <option  value="@p.ID">@p.Name</option>

                        }

                    </select>

                </div>
                </div>
                <div class="col-1">
                <input type="submit" name="Ok" value="Ok" class="btn btn-light" />
                </div>
                
            </div>
            
            }
            @using (Html.BeginForm("SaveSearch", "Home", FormMethod.Post))
            {<div class="row">
                    <div class="col-3">
                        <input type="text" class="form-control" id="RechrecheRecette" name="RechrecheRecette" placeholder="Nom de la recette" />
                    </div>

                    <div class="col-1">
                        <input type="submit" name="Search" value="Search" class="btn btn-light" />
                    </div>
                </div>}
        </div>

        </div>
       
 
<h2 style="margin-bottom:30px;">Nos Recettes les plus faciles</h2>
<div class="row">
    <div class="col-md-9">
        <div class="row">
            @foreach (var d in Model.RecetteFacile)
            {
            <article class="info-block col-md-4">

                <img src=" @d.LienPhoto" width="150" height="150" />
                <h5>@d.Titre</h5>
                <p>@d.Description</p>
            </article>

            }
            </div>
        </div>
    <div class="col-md-3">
        <h3 style="margin-bottom:20px;">Top Recettes </h3>
        @foreach (var d in Model.RecetteFive)
        {<div >
                <h6>@d.Titre</h6>
                <label>@d.Moyenne</label>
            </div>

        }

    </div>
 </div>
